.eu{
    position: absolute;
width: 270px;
height: 254px;
left: 99px;
top: 33px;
}
h1{
    position: absolute;
width: 744px;
height: 77px;
left: 507px;
top: 73px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 77px;

color: #000000;

border: 1px solid #000000;
}

.imagem1{
    position: absolute;
width: 336px;
height: 342px;
left: 1104px;
top: 684px;

background: url(image.png);
border-radius: 122px;
}
